{% extends "base.html" %}
{% if pfp %}
{% block profile_pic %} {{pfp}} {% endblock %}
{% endif %}
{% block content %}
<script>
    function getChecked() {
        var idsToAdd = []
        var tracks = document.getElementsByClassName("songrec");
        for (var i = 0; i < tracks.length; i++) {
            var track = tracks[i];
            if (track.checked) {
                idsToAdd.push(track.value)
            }
        }
        document.getElementById("val").value = idsToAdd;
    }
    getChecked();
</script>
<center>
    <h3>some tracks recommended for your playlist "{{id | title}}"</h3>
<form method="POST" action="{{ url_for('add') }}">
    <div id="tracks">
{% for track in id | extract | trackname %}
<input class="songrec" type="checkbox" value="{{track['id']}}" checked> {{track['name']}} - {{ track['artists'][0]['name'] }}
<br>
{% endfor %}
    </div>
    <br>
    <button type="submit" class="btn btn-outline-secondary" onclick="getChecked()">add to playlist!</button>
    <input style="display: none" id="val" name="trackIds" value="">
    <input style="display: none" name="playlistId" value="{{id}}">
</form>
{% endblock %}