{% extends "dropdown.html" %}
{% block tracks %}
<form class="justify-content-center form-inline" method="POST" action="{{ url_for('recommendations') }}" name="myform">
    <button class="btn btn-default" onclick="myform.submit()">extend playlist</button>
    <input style="display: none" name="playid" value="{{id}}">
</form>
<script>
    var txt = document.getElementById("allTracks");
    function showTracks() {
        txt = document.getElementById("allTracks");
        btn = document.getElementById("trackBtn")
        if (txt.style.display === "none") {
            txt.style.display = "block";
            btn.value = "hide tracks";
        } else {
            txt.style.display = "none";
            btn.value = "show tracks";
        }
    }
    txt.style.display = "none";
</script>
<input type="button" value="show tracks" id="trackBtn" onclick="showTracks()"/>

<p name="playid" style="display: none">{{id}}</p>
{% with tracks = (id | tracks)['items'] %}
<div style="display: none" id="allTracks">
{% for track in tracks %}
    <br>
    {{ track['track']['name'] }} -
    {% for artist in track['track']['artists'] %}
        {{ artist['name'] }},
    {% endfor %}
{% endfor %}
</div>
{% endwith %}
{% endblock %}